@import url('/stylesheets/root.css');

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;

  .contenedor_general {
    height: 35rem;
    width: 60rem;
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 0px var(--color-secondary);
    background: var(--background-color-primary);

    .contenedor_principal {
      width: 70%;
      height: 90%;
      padding: 2rem;
      margin: 2rem;
      margin-top: -1rem;
      

      h1 {
        text-align: center;
        font-size: 3rem;
        font-family: var(--font-h1);
      }
      p {
        text-align: center;
        margin-bottom: 1rem;
      }
      form {
        display: flex;
        gap: 1rem;
        flex-direction: column;

        input,
        label {
          width: 100%;
          height: 1.5rem;
        }
        input{
          padding: 1rem;
          border: 1px solid rgb(200, 200, 200);
          font-size: 1rem;
        }
        button {
          height: 2.5rem;
          border-radius: 0.6rem;
          width: 100%;
          border: none;
          background: linear-gradient(
            45deg,
            rgb(255, 149, 0),
            rgb(0, 73, 243),
            rgb(255, 200, 0)
          );
          color: rgb(255, 255, 255);
          font-weight: bold;
          font-size: 0.8rem;
          &:hover {
            opacity: 0.9;
            font-size: 1.2rem;
            cursor: pointer;
          }
        }
      }
    }
  }
  .imagen {
    height: 100%;
    width: 50%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  hr {
    margin-top: 1rem;
  }
  .botones {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem;
      border-radius: 0.6rem;
      width: 14rem;
      background-color: black;
      color: white;
      height: 2.5rem;
      border: none;
      cursor: pointer;

      &:hover {
        opacity: 0.9;
        transform: scale(1.1);
      }

      img {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.5rem;
      }
    }
  }
}
