/* ============= ROOT =============*/
:root {
  /* Colores base */
  --background-color-primary: #f9fafb;
  --background-color-secondary: #ffffff;

  --color-primary: #0968ef;
  --color-secondary: #7ddf8b;
  --color-accent: #0f172a;
  --color-muted: #6b7280;

  /* Botones */
  --color-gradient: linear-gradient(135deg, #0968ef, #7ddf8b);
  --button-color-secondary: #e5e7eb;

  /* Tipografía */
  --font-primary: "Poppins", sans-serif;
  --font-h1: "Zen Dots";

  /* Bordes y sombras */
  --border-radius: 1.5rem;
  --box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* ================== TODO ================== */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: var(--font-primary);
}