/* ============= ROOT =============*/
:root {
  /* Colores base */
  --background-color-primary: #f9fafb;
  --background-color-secondary: #ffffff;

  --color-primary: #0968ef;
  --color-secondary: #7ddf8b;
  --color-accent: #0f172a;
  --color-muted: #6b7280;

  /* Botones */
  --color-gradient: linear-gradient(135deg, #0968ef, #7ddf8b);
  --button-color-secondary: #e5e7eb;

  /* Tipografía */
  --font-primary: "Poppins", sans-serif;

  /* Bordes y sombras */
  --border-radius: 1.5rem;
  --box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* ================== TODO ================== */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: var(--font-primary);
}

/* ================== HEADER ================== */
.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background:linear-gradient(0deg,rgb(0,0,0,0.5),rgb(0,0,0,0.7)),url("https://s1.1zoom.me/big0/26/Audi_2016_Q2Two_Metallic_494054.jpg");
  /* 
  background: linear-gradient(178deg, rgba(16, 13, 82, 1) 0%, rgba(38, 54, 139, 1) 54%, rgba(102, 196, 141, 1) 95%);
  
  */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  mask-image: url("/images/3185869.svg");
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 50px;
  animation: svg-animation 3s forwards ease-in-out;
}

@keyframes svg-animation {
  0% {
    mask-size: 50px;
  }
  100% {
    mask-size: 1000vh;
  }
}

/* ================== NAV ================== */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 80px;
  position: relative;
  animation: animation-nav 2s ease-out forwards;
}

@keyframes animation-nav {
  0% {
    top: -100px;
  }
  100% {
    top: 0;
  }
}

.logo a {
  padding: 5px 10px;
  font-weight: bold;
  font-size: 2.3rem;
  color: white;
  background: var(--color-gradient);
  background-size: 200% 200%;
  animation: gradientMove 4s ease infinite;

  /* para aplicar el gradiente al texto */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.lista ul,
.acceso ul {
  display: flex;
  gap: 20px;
  color: white;
}

.lista ul li,
.acceso ul li {
  padding: 10px 15px;
  border-radius: 8px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign_up,
.login {
  border-radius: 8px;
  padding: 5px 10px;
  background: var(--color-gradient);
}

.acceso,
.lista,
.logo {
  padding: 20px;
  font-weight: bold;
}
a {
  color: white;
}
.acceso ul li a i {
  margin-right: 8px;
}

.sign_up:hover,
.login:hover {
  background-color: var(--color-secondary);
  transition: 0.3s;
  box-shadow: 5px 5px 0px var(--color-primary);
  border: none;
}

.lista ul li a {
  color: rgb(255, 255, 255);
  position: relative;
}

.lista ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 4px;
  background: var(--color-primary);
}

.lista ul li a:hover {
  color: var(--color-primary);
}

.lista ul li a:hover::after {
  animation: linea 0.5s forwards;
}

@keyframes linea {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* ================== HERO ================== */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
  color: white;
  gap: 20px;
  padding: 20px;
}
h1 {
  font-size: 3rem;
  margin-right: 10rem;
    span {
    color: var(--color-primary);
    position: absolute;
    transform: rotate(25deg);
    margin-top: 3.3rem;
    margin-left: 0.8rem;

    &:hover {
      transform: rotate(0);
      margin-top: 0;
      transition: 0.5s ease-out;
      cursor: pointer;
      color: var(--color-secondary);
    }
  }
}
.sub_titulo {
  font-size: 20px;
}

.contenedor_reserva {
  padding: 20px;
  /*border-radius: 12px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    */
  box-shadow: 5px 5px 0px var(--color-accent);
  background-color: var(--background-color-secondary);
}

.reserva {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}
#reserva_boton {
  padding: 8px;
  width: 70px;
  background-color: var(--color-secondary);
  color: var(--color-accent);
  border: none;
}
#reserva_boton:hover {
  opacity: 0.9;
  transform: scale(1.1);
  transition: 1s;
}

.reserva label,
.reserva input,
.reserva button {
  padding: 5px 10px;
  color: var(--color-accent);
}
/*================== REDES SOCIALES ==================*/
.contenedor_redes {
  position: fixed;
  width: 100px;
  height: 50px;
  right: -2rem;
  bottom: 8rem;
  transform: rotate(-90deg) skewX(-15deg);
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

/* Íconos dentro */
.contenedor_redes i {
  font-size: 2rem;
}

/* WhatsApp */
.contenedor_redes .whatsapp {
  background-color: rgb(64, 208, 119);
}
.contenedor_redes .whatsapp {
  position: relative;
  transition: transform 0.3s ease;
}

.contenedor_redes .whatsapp:hover {
  transform: translateY(-0.8rem);
}

/* Instagram */
.contenedor_redes .instagram {
  background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
}
.contenedor_redes .instagram {
  position: relative;
  transition: transform 0.3s ease;
}

.contenedor_redes .instagram:hover {
  transform: translateY(-0.8rem);
}

/* Lista contenedora */
.contenedor_redes .enlaces_redes {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-weight: bold;
  color: white;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Enlaces individuales */
.contenedor_redes .enlaces_redes li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 1rem;
  color: white;
  text-decoration: none;
  gap: 0.5rem;
}
.contenedor_redes span {
  color: white;
}

/* ================== CONTENEDOR1 ================== */
#contenedor_principal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#contenedor1 {
  background: var(--background-color-primary);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.insets {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  padding: 100px 120px;
}

.inset {
  min-height: 150px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px solid var(--color-primary);
  color: var(--button-color-secondary);
  font-size: 0.9rem;
  border-radius: var(--border-radius);
  position: relative;
  background-color: #0969ef48;

  .circulo {
  width: 100px;
  height: 100px;

  position: absolute;
  left: -45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-primary);
  background-color: var(--color-accent);
  border-radius: var(--border-radius);


  i {
  font-size: 3.5rem;}
}
  
  &:hover {
  transform: scale(1.05);
  transform: translateY(-0.5rem);
  background-color: #0969ef86;
  transition: 0.5s ease-in;
}
}

.inset p {
  margin: 0 60px;
  text-align: justify;
}
.inset p,
h2 {
  text-align: center;
  color: black;
}
/*-- COCHE MOVIMIENTO--*/
.camino {
  position: relative;
  width: 100%;
  height: 20vh;
  overflow: hidden;
}
.coche_contenedor {
  position: absolute;
  bottom: 10vh;
  left: -10rem;
  width: 550px;
  z-index: 1;
  top: -12rem;
}
.coche {
  width: 100%;
  transition: transform 0.2s ease-out;
}

/* ================== CONTENEDOR2 ================== */
#contenedor2 {
  height: 100vh;
  width: 100%;
  border-top: 4px solid white;
  background: #100d52;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 1.7rem;
    color: white;
  }
}

.tarifas {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 500px;
  margin: 0 200px;
  margin-bottom: 2rem;
}

@property --angulo {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.tarifa {
  border-radius: 12px;
  border: 2px solid;
  min-width: 350px;
  min-height: 450px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background: rgb(36, 33, 33);
  color: var(--color-muted);
  margin: auto;
  position: relative;

  &::after,
  &::before {
    --angulo: 0deg;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px;
    border-radius: 12px;
    z-index: -2;
    background-image: conic-gradient(
      from var(--angulo),
      transparent,
      var(--color-secondary)
    );
    animation: 3s spin linear infinite;
  }
  &::before {
    filter: blur(1.5rem);
  }
  h3 {
    font-size: 1.5rem;
  }
  .precio {
    font-size: 4rem;
  }
  ul {
    border: 1px solid;
    border-radius: 12px;
    padding: 1rem;
  }
  button {
    padding: 0.5rem 3rem;
    border-radius: 12px;
    border: none;
    background: var(--color-gradient);
    color: white;
    font-weight: bold;
  }

  ul {
    width: 300px;
    padding-left: 20px;
    li {
      margin-bottom: 10px;
      text-align: left;
    }
  }
  ul li::before {
    content: "✔️";
    margin-right: 8px;
  }
}
@keyframes spin {
  from {
    --angulo: 0deg;
  }
  to {
    --angulo: 360deg;
  }
}

@property --angulo_grande {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.tarifa_grande {
  border-radius: 12px;
  border: 2px solid;
  min-width: 400px;
  min-height: 520px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background: white;
  position: relative;

  &::after,
  &::before {
    --angulo_grande: 0deg;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px;
    border-radius: 12px;
    z-index: -2;
    background-image: conic-gradient(
      from var(--angulo_grande),
      transparent,
      var(--color-primary)
    );
    animation: 3s spinner linear infinite;
  }
  &::before {
    filter: blur(1.5rem);
  }

  ul {
    width: 300px;
    padding-left: 20px;
    li {
      margin-bottom: 10px;
      text-align: left;
    }
  }
  h3 {
    font-size: 2rem;
  }
  .precio {
    font-size: 6rem;
  }
  ul {
    border: 1px solid;
    border-radius: 12px;
    padding: 1rem;
  }
  ul li {
    font-size: 1.1rem;
  }
  ul li::before {
    content: "✔️";
    margin-right: 8px;
  }
  button {
    padding: 0.5rem 3rem;
    border-radius: 12px;
    border: none;
    background: linear-gradient(
      45deg,
      rgba(1, 247, 140, 0.281),
      rgb(10, 34, 219),
      rgb(198, 142, 142)
    );
    color: white;
    font-weight: bold;
  }
}
@keyframes spinner {
  from {
    --angulo_grande: 0deg;
  }
  to {
    --angulo_grande: 360deg;
  }
}

/* ================== CONTENEDOR 3 ================== */

#contenedor3 {
  padding: 20px 80px;
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;

  h2 {
    font-size: 2rem;
  }
  .opiniones {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 300px;
    .opinion {
      position: relative;
      width: 400px;
      height: 200px;
      .dialogo {
        border-radius: 5rem 5rem 5rem 0rem;
        width: 250px;
        height: 100px;
        position: absolute;
        box-shadow: 0 0 2px;
        right: 0;
        background-color: rgb(255, 248, 248);
        z-index: 3;
        p {
          text-align: center;
          position: absolute;
          top: 0.5rem;
        }
      }
      .foto {
        border-radius: 50%;
        position: absolute;
        height: 5rem;
        width: 5rem;
        bottom: 2rem;
        left: 0.5rem;
        z-index: 1;
        background: url("/images/3c63af1d-c905-4c85-a68b-a20096b81ab1.png");
        background-position: center;
        background-size: cover;
        box-shadow: 0 0 5px;
        border: 2px solid white;
      }
    }
    .opinion:nth-child(2) .dialogo,
    .opinion:nth-child(1) .dialogo {
      border-radius: 5rem 5rem 0 5rem;
    }
    .opinion:nth-child(2) .foto,
    .opinion:nth-child(1) .foto {
      left: 16rem;
    }
  }
}

/* ================== CONTENEDOR 4 ================== */

#contenedor4 {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    z-index: 0;
  }

  video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
  }

  .ubicacion {
    width: 80%;
    height: 80%;
    display: flex;
    padding: 2rem;
    gap: 2rem;
    position: relative;
    z-index: 1;
    background: var(--background-color-secondary);
    border-radius: 1rem;
    border: 2px solid var(--background-color-secondary);
  }
  .info_ubicacion {
    width: 50%;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 2rem;
    color: rgb(0, 0, 0);
    font-size: 0.8rem;

    h2 {
      margin-top: 1rem;
    }
  }

  .mapa {
    width: 50%;
    height: 100%;
  }
}
.persona {
  position: absolute;
  width: 500px;
  height: 700px;
  z-index: 6;
  bottom: 0;
  right: -10rem;
  background: url("/images/vecteezy_businessman-isolated-illustration_24558280.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  transform: scaleX(-1);
}
/* ================== FOOTER ================== */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-accent);
  border-top: 2px solid white;
  box-shadow: 0 0 10px;
}

.footer_contenido {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 24rem;
  padding: 3rem 0;
  gap: 2rem;

  .contenedor_footer {
    display: flex;
    gap: 5rem;
    width: 100%;
    height: 100%;

    .footer_enlaces {
      display: flex;
      gap: 2rem;
      width: 60%;

      .footer_enlace {
        width: 33%;
        height: 100%;

        p {
          font-size: 1.5rem;
          font-weight: bold;
          color: var(--color-secondary);
        }
        ul {
          margin: 1.5rem 0;

          li {
            margin: 0.8rem 0;
            color: white;
          }
        }
      }
    }
    .footer_logo {
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .footer_logo_inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.8rem;

        p {
          font-size: 3rem;
          color: white;
        }
        ul {
          display: flex;
          align-items: flex-start;
          gap: 1.5rem;
          li a {
            font-size: 1.2rem;
            color: var(--color-secondary);
          }
        }
      }
    }
  }
  .derechos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 1.1rem;

    ul {
      display: flex;
      gap: 3rem;
    }
    span {
      color: var(--color-primary);
    }
  }
}
