# archivo de ejemplo para variables de entorno
# copiar este archivo a .env y ajustar los valores según sea necesario

#Configuración del servidor
PORT=3000
NODE_ENV=development

#Clave secreta para firmar las cookies de sesión
SESSION_SECRET=

#Conexión a base de datos (POSTGRESQL local)
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
DB_NAME=paparcapp_db